node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

cypress/downloads
cypress/screenshots
cypress/videos

# Local Netlify folder
.netlify

# Do NOT ignore ios folder; this somehow breaks the build
# ios
